.main_section {
    height: 100vh;
    width: 100vw;
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.add_btn {
    width: 25rem;
    margin: 4rem 0;
    height: 3.5rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #5F2F76;
    border: none;
    border-radius: 0.4rem;
}